{% extends "base.jinja" %}
{% block title %}Contact Us - Chautari{% endblock %}
{% block content %}
    <main class="px-8 py-16 md:px-4 md:py-0">
        <h1 class="mt-32 text-center text-4xl font-bold leading-tight tracking-tighter text-gray-800 md:text-5xl lg:text-6xl">
            Contact us
        </h1>
        <div class="border border-gray-200 bg-gray-50 max-w-3xl p-8 rounded-lg mx-auto my-5">
            <p>
                If you have any questions, need assistance, or want to learn more about how
                Chautari can enhance your event discovery experience, we’re here to help!
                Reach out to us using the contact details below, and a member of our team will
                get back to you promptly.
                <br>
                <br>
                Whether you're an event organizer looking to expand
                your audience or an attendee searching for the perfect event,
                Sano Chautari Software Company Limited is ready to support you every step of the way.
            </p>
            <br>
            <p>
                <strong>Email:</strong>
                <a href="mailto:support@chautari.com"
                   class="text-blue-600 hover:underline">support@chautari.com</a>
            </p>
            <p>
                <strong>Phone:</strong>
                <a href="tel:+1234567890" class="text-blue-600 hover:underline">+123-456-7890</a>
            </p>
            <p>
                <strong>Address:</strong>
                Exhibition Road, Kathmandu, Nepal
            </p>
            <p>We look forward to connecting with you!</p>
        </div>
    </main>
{% endblock %}
