{% extends "base.jinja" %}
{% block title %}Data Protection Agreement - Chautari{% endblock %}
{% block extra_css %}{% endblock %}
{% block content %}
    <main class="px-8 py-16 md:px-4 md:py-0">
        <h1 class="mt-32 text-center text-4xl font-bold leading-tight tracking-tighter text-gray-800 md:text-5xl lg:text-6xl">
            Data Protection Agreement
        </h1>
        <div class="boxed-text border border-gray-200 bg-gray-50 max-w-3xl p-8 rounded-lg mx-auto my-5">
            <h2 class="text-2xl font-bold mt-5">1. Information Collection and Usage</h2>
            <p class="leading-loose">
                At Sano Chautari Software Company Limited, we prioritize your privacy and the protection of your data.
                When you use our software, Chautari, we collect certain personal information to enhance your experience
                and provide you with the best possible service. The information you provide will be securely stored and
                managed by us. We do not share this information with third parties unless it is required to fulfill our
                service to you. Additionally, we will not sell your data or give it to others. Your data will be used
                solely for platform analytics to improve our services.
            </p>
            <h2 class="text-2xl font-bold mt-5">2. Third-Party Sign-In</h2>
            <p class="leading-loose">
                If you choose to sign in through Google or other third-party services, please be aware that those
                platforms will also have access to certain information about you. This information may include your
                name, email address, and other details provided during the sign-in process. While we take every
                precaution to protect your data, we cannot control the practices of third-party services like Google and
                are not responsible for their handling of your data.
            </p>
            <h2 class="text-2xl font-bold mt-5">3. Data Security and Responsibility</h2>
            <p class="leading-loose">
                We adhere to the highest standards of data security to protect your information from unauthorized
                access, disclosure, alteration, or destruction. Our security measures are designed to keep your data
                safe while in our care. However, please understand that no system is entirely infallible, and we cannot
                guarantee absolute security. As a result, while we commit to maintaining the utmost security, we are not
                liable for any potential breaches or incidents that may occur.
            </p>
            <h2 class="text-2xl font-bold mt-5">4. Data Deletion</h2>
            <p class="leading-loose">
                You have the right to delete your data at any time. If you wish to do so, you can find the option within
                our platform’s settings. If you are unable to delete your data or encounter any issues, please contact
                us, and we will assist you in ensuring your data is removed.
            </p>
            <p class="leading-loose">
                By using our services, you acknowledge and accept the terms outlined in this Data Protection Agreement.
                If you have any concerns or questions about how your data is handled, please feel free to contact us at
                <a href="mailto:support@chautari.com"
                   class="text-blue-600 hover:underline">support@chautari.com</a>.
            </p>
        </div>
    </main>
{% endblock %}
